{% extends "base.html" %}
{% block title %}Пользователи{% endblock %}
{% block content %}
<h1>Управление пользователями</h1>
<table>
    <tr><th>Логин</th><th>Роль</th><th>Действия</th></tr>
    {% for u in users %}
    <tr>
        <td>{{ u.username }}</td>
        <td>{{ u.profile.get_role_display }}</td>
        <td>
            <a href="{% url 'edit_user_role' u.id %}" class="btn btn-success" style="padding:4px 10px; font-size:13px;">Роль</a>
            {% if u.id != user.id %}
                <a href="{% url 'delete_user' u.id %}" class="btn btn-danger" style="padding:4px 10px; font-size:13px;">Удалить</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
